.pager-button {

    float: right;
    border-radius: 0;
    border: 1px solid #D2D3D6;
    margin-left: -3px;
    color: #4F8EDC;

}

.table-full-height {
    height: 100%;
}

.cellTableGroupCell {
    padding: 4px 10px;
    overflow: hidden;
    background-color: #edeef0;
    font-weight: bold;
}

.tableEmptyMessage {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    margin: auto;
}