.cellTableWidget {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cellTableFirstColumn {

}

.cellTableLastColumn {

}

.cellTableFooter {
}

.cellTableHeader {
    border-bottom: 2px solid #E6E7E8;
    padding: 10px;
    text-align: left;
    font-weight: 400;
}

.cellTableCell {
  padding: 4px 10px;
  overflow: hidden;
}

.cellTableFirstColumnFooter {
  border-left: 0px;
}

.cellTableFirstColumnHeader {
  border-left: 0px;
}

.cellTableLastColumnFooter {

}

.cellTableLastColumnHeader {

}

.cellTableSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.cellTableSortableHeader:hover {
}

.cellTableSortedHeaderAscending {
}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
    /*line-height: 42px;*/
}

.cellTableEvenRowCell {
    border-top: 1px solid #E6E7E8;
}

.cellTableOddRow {
  background: #F7F8FA;
  /*line-height: 42px;*/
}

.cellTableOddRowCell {
    border-top: 1px solid #E6E7E8;
}

.cellTableHoveredRow {
  background: #DDF4FA;
}

.cellTableHoveredRowCell {

}

.cellTableKeyboardSelectedRow {
  background: #76C4ED;
}

.cellTableKeyboardSelectedRowCell {

}

.cellTableSelectedRow {
}

.cellTableSelectedRowCell {
  background: #76C4ED;
}

.cellTableKeyboardSelectedCell {
}

.cellTableLoading {
  margin: 30px;
}
