.dataGridWidget {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.dataGridFirstColumn {

}

.dataGridLastColumn {

}

.dataGridFooter {
}

.dataGridHeader {
    border-bottom: 2px solid #E6E7E8;
    padding: 10px;
    text-align: left;
    font-weight: 400;
}

.dataGridCell {
  padding: 4px 10px;
  overflow: hidden;
}

.dataGridFirstColumnFooter {
  border-left: 0px;
}

.dataGridFirstColumnHeader {
  border-left: 0px;
}

.dataGridLastColumnFooter {

}

.dataGridLastColumnHeader {

}

.dataGridSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.dataGridSortableHeader:hover {
}

.dataGridSortedHeaderAscending {
}

.dataGridSortedHeaderDescending {

}

.dataGridEvenRow {
    /*line-height: 42px;*/
}

.dataGridEvenRowCell {
    border-top: 1px solid #E6E7E8;
}

.dataGridOddRow {
  background: #F7F8FA;
}

.dataGridOddRowCell {
    border-top: 1px solid #E6E7E8;
}

.dataGridHoveredRow {
  background: #DDF4FA;
}

.dataGridHoveredRowCell {

}

.dataGridKeyboardSelectedRow {
  background: #76C4ED;
}

.dataGridKeyboardSelectedRowCell {

}

.dataGridSelectedRow {
}

.dataGridSelectedRowCell {
  background: #76C4ED;
}

.dataGridKeyboardSelectedCell {
}
