$blue-dark: #42536D;
$blue-light: #556B8D;
$blue-lightest: #677FA4;

$orange-dark: #DC8911;
$orange-light: #ED9619;
$orange-lightest: #F2B257;

$red-dark: #D62C1a;
$red-light: #BF2718;
$red-lightest: #EB6D60;

$green-dark: #6CA632;
$green-light: #85C744;
$green-lightest: #99D063;

$black-dark: #313338;
$black-light: #1c1c1c;
$black-lightest: #99D063;

$paging-normal-text: #4F8EDC;
$paging-normal-border: #D2D3D6;
$paging-normal-background: white;
$paging-selected-text: #FFFFFF;
$paging-selected-border: #4F8EDC;
$paging-selected-background: $paging-selected-border;
$paging-hover: #EDEEF0;

$button-spacing: 8px;

button:focus {
  outline-width: 0;
}

.gwt-Button {
  display: block;
  font-size: 14px;

  padding: 7px 12px;
  height: 34px;

  white-space: nowrap;
  cursor: pointer;

  color: white;

  border: 1px solid;
  border-radius: 3px;

  .button-icon-left {
    margin-right: $button-spacing;
  }

  .button-icon-right {
    margin-left: $button-spacing;
  }

  &[so-visible=false] {
    display: none;
  }

  &[so-visible=true] {
    display: block;
  }

  &[disabled] {
    border: #E6E7E8;
    background-color: white;
    color: #333;
    opacity: 0.65;
  }
}

button[class*="none"] {
  color: $blue-lightest;
  background-color: transparent;
  border: 0;

  &:hover {
    color: $blue-dark;
  }

}

button[class*="blue"] {
  border-color: $blue-dark;
  background-color: $blue-light;

  &:hover {
    border-color: $blue-light;
    background-color: $blue-lightest;
  }
}

button[class*="orange"] {
  border-color: $orange-dark;
  background-color: $orange-light;

  &:hover {
    border-color: $orange-light;
    background-color: $orange-lightest;
  }
}

button[class*="red"] {
  border-color: $red-dark;
  background-color: $red-light;

  &:hover {
    border-color: $red-light;
    background-color: $red-lightest;
  }
}

button[class*="green"] {
  border-color: $green-dark;
  background-color: $green-light;

  &:hover {
    border-color: $green-light;
    background-color: $green-lightest;
  }
}

button[class*="black"] {
  border-color: $black-dark;
  background-color: $black-light;

  &:hover {
    border-color: $black-light;
    background-color: $black-lightest;
  }
}

button[class*="paging"] {
  border-color: $paging-normal-border;
  background-color: $paging-normal-background;
  color: $paging-normal-text;

  &[so-selected=true] {
    color: $paging-selected-text;
    border-color: $paging-selected-border;
    background-color: $paging-selected-background;
  }

  &[so-selected=false]:hover {
    background-color: $paging-hover;
  }
}

button[class*="navigation"] {
  border: 0;
  color: rgba(255, 255, 255, 0.5);
  background: #313338;
  border-radius: 0;

  &:hover {
    color: white;
  }
}