@charset "UTF-8";

button:focus {
	outline-width: 0;
}

.gwt-Button {
	display: block;
	font-size: 14px;
	padding: 7px 12px;
	height: 34px;
	white-space: nowrap;
	cursor: pointer;
	color: white;
	border: 1px solid;
	border-radius: 3px;
}

.gwt-Button .button-icon-left {
	margin-right: 8px;
}

.gwt-Button .button-icon-right {
	margin-left: 8px;
}

.gwt-Button[so-visible=false] {
	display: none;
}

.gwt-Button[so-visible=true] {
	display: block;
}

.gwt-Button[disabled] {
	border: #E6E7E8;
	background-color: white;
	color: #333;
	opacity: 0.65;
}

button[class*="none"] {
	color: #677FA4;
	background-color: transparent;
	border: 0;
}

button[class*="none"]:hover {
	color: #42536D;
}

button[class*="blue"] {
	border-color: #42536D;
	background-color: #556B8D;
}

button[class*="blue"]:hover {
	border-color: #556B8D;
	background-color: #677FA4;
}

button[class*="orange"] {
	border-color: #DC8911;
	background-color: #ED9619;
}

button[class*="orange"]:hover {
	border-color: #ED9619;
	background-color: #F2B257;
}

button[class*="red"] {
	border-color: #D62C1a;
	background-color: #BF2718;
}

button[class*="red"]:hover {
	border-color: #BF2718;
	background-color: #EB6D60;
}

button[class*="green"] {
	border-color: #6CA632;
	background-color: #85C744;
}

button[class*="green"]:hover {
	border-color: #85C744;
	background-color: #99D063;
}

button[class*="black"] {
	border-color: #313338;
	background-color: #1c1c1c;
}

button[class*="black"]:hover {
	border-color: #1c1c1c;
	background-color: #99D063;
}

button[class*="paging"] {
	border-color: #D2D3D6;
	background-color: white;
	color: #4F8EDC;
}

button[class*="paging"][so-selected=true] {
	color: #FFFFFF;
	border-color: #4F8EDC;
	background-color: #4F8EDC;
}

button[class*="paging"][so-selected=false]:hover {
	background-color: #EDEEF0;
}

button[class*="navigation"] {
	border: 0;
	color: rgba(255, 255, 255, 0.5);
	background: #313338;
	border-radius: 0;
}

button[class*="navigation"]:hover {
	color: white;
}