@charset "UTF-8";

.entry-form {
	font-family: "Source Sans Pro", "Segoe UI", "Droid Sans", Tahoma, Arial, sans-serif;
	font-size: 14px;
}

.entry, .entry-documentation, .entry-container, .entry-label-widget, .entry-widget, .entry-widget-widget {
	clear: both;
	content: " ";
	display: table;
	width: 100%;
}

.entry-hint,  .hint {
	float: left;
	padding-top: 15px;
	margin-bottom: 0;
	text-align: left;
	color: #8d8d8d;
}

.entry-message,  .value-container .message,  .widget-container .message,  .right-widget-container .message {
	float: left;
	display: block;
	margin-bottom: 0;
	margin-top: 5px;
	width: 100%;
}

.entry-button-container,  .button-container {
	float: left;
	padding-top: 8px;
	padding-left: 10px;
	display: table;
}

.entry-button-container button[type="button"],  .button-container button[type="button"] {
	float: left;
}

.entry-documentation .label {
	padding-top: 8px;
	margin-bottom: 0;
	width: 100%;
	float: left;
}

.entry-documentation .label .align-left {
	text-align: left;
}

.entry-documentation .label .align-center {
	text-align: center;
}

.entry-documentation .label .align-right {
	text-align: right;
}

.entry-container .widget {
	padding-top: 10px;
	margin-bottom: 0;
	width: 100%;
	text-align: left;
	float: left;
}

.entry-label-widget .label {
	padding-top: 15px;
	margin-bottom: 0;
	width: 20%;
	text-align: right;
	float: left;
}

.entry-label-widget .value-container {
	padding: 8px 10px 0 10px;
	display: block;
	float: left;
	width: 70%;
	box-sizing: border-box;
}

.entry-label-widget .value-container input[type="text"], .entry-label-widget .value-container input[type="password"] {
	width: 100%;
}

.entry-label-widget .value-container textarea {
	width: 100%;
}

.entry-widget .widget-container {
	display: block;
	float: left;
	width: 85%;
	box-sizing: border-box;
}

.entry-widget .widget-container input[type="text"], .entry-widget .widget-container input[type="password"] {
	width: 100%;
}

.entry-widget .widget-container textarea {
	width: 100%;
}

.entry-widget .button-container {
	padding-top: 3px;
}

.entry-widget-widget .left-widget-container {
	padding: 8px 0 0 10px;
	display: block;
	float: left;
	width: 25%;
	text-align: right;
	box-sizing: border-box;
}

.entry-widget-widget .right-widget-container {
	padding: 8px 10px 0 10px;
	display: block;
	float: left;
	width: 60%;
	box-sizing: border-box;
}

.entry-widget-widget .button-container {
	padding-top: 8px;
}

.entry-widget-widget .right-widget-container input[type="text"], .entry-widget-widget .right-widget-container input[type="password"] {
	width: 100%;
}

.entry-widget-widget .right-widget-container textarea {
	width: 100%;
}

.validation-list {
	margin: 0;
	padding-left: 15px;
}

.validation-list .info {
	color: #527F26;
}

.validation-list .warn {
	color: #927608;
}

.validation-list .error {
	color: #A81515;
}