.entry-form {
  font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
  font-size: 14px;
}

.entry {
  clear: both;
  content: " ";
  display: table;
  width: 100%;
}

.entry-hint {
  float: left;
  padding-top: 15px;
  margin-bottom: 0;
  text-align: left;
  color: #8d8d8d;
}

.entry-message {
  float: left;
  display: block;
  margin-bottom: 0;
  margin-top: 5px;
  width: 100%;
}

.entry-button-container {
  float: left;
  padding-top: 8px;
  padding-left: 10px;
  display: table; // done

  button {
    &[type="button"] {
      float: left; // done
    }
  }
}

.entry-documentation {
  @extend .entry;

  .label {
    padding-top: 8px;
    margin-bottom: 0;
    width: 100%;
    float: left;

    .align-left {
      text-align: left;
    }

    .align-center {
      text-align: center;
    }

    .align-right {
      text-align: right;
    }
  }
}

.entry-container {
  @extend .entry;

  .widget {
    padding-top: 10px;
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    float: left;
  }

}

.entry-label-widget {
  @extend .entry;

  .label {
    padding-top: 15px;
    margin-bottom: 0;
    width: 20%;
    text-align: right;
    float: left;
  }

  .value-container {
    padding: 8px 10px 0 10px;
    display: block;
    float: left;
    width: 70%;
    box-sizing: border-box;
  }

  .button-container {
    @extend .entry-button-container;
  }

  .value-container {
    input {
      &[type="text"], &[type="password"] {
        width: 100%;
      }
    }
    textarea {
      width: 100%;
    }
  }

  .hint {
    @extend .entry-hint;
  }

  .value-container .message {
    @extend .entry-message;
  }
}

.entry-widget {
  @extend .entry;

  .widget-container {
    display: block;
    float: left;
    width: 85%; //was 75%
    box-sizing: border-box;

    input {
      &[type="text"], &[type="password"] {
        width: 100%;
      }
    }
    textarea {
      width: 100%;
    }
  }
  .button-container {
    @extend .entry-button-container;

    padding-top: 3px;
  }
  .hint {
    @extend .entry-hint;
  }
  .widget-container .message {
    @extend .entry-message;
  }
}

.entry-widget-widget {
  @extend .entry;

  .left-widget-container {
    padding: 8px 0 0 10px;
    display: block;
    float: left;
    width: 25%;
    text-align: right;
    box-sizing: border-box;
  }

  .right-widget-container {
    padding: 8px 10px 0 10px;
    display: block;
    float: left;
    width: 60%;
    box-sizing: border-box;
  }

  .button-container {
    @extend .entry-button-container;

    padding-top: 8px;
  }

  .right-widget-container {
    input {
      &[type="text"], &[type="password"] {
        width: 100%;
      }
    }
    textarea {
      width: 100%;
    }
  }
  .hint {
    @extend .entry-hint;
  }
  .right-widget-container .message {
    @extend .entry-message;
  }
}

.validation-list {
  margin: 0;
  padding-left: 15px;

  .info {
    color: #527F26;
  }

  .warn {
    color: #927608;
  }

  .error {
    color: #A81515;
  }
}