@charset "UTF-8";

.gwt-RadioButton, .gwt-CheckBox {
	margin-right: 10px;
	float: left;
}

.gwt-RadioButton label, .gwt-CheckBox label {
	cursor: hand;
}

.gwt-RadioButton-disabled label, .gwt-CheckBox-disabled label {
	color: #888888;
}

input[type="text"], input[type="password"] {
	height: 34px;
}

input[type="radio"], input[type="checkbox"] {
	margin-top: 10px;
	margin-right: 10px;
}

span[class^="gwt-RadioButton"][so-alignment="vertical"], span[class^="gwt-CheckBox"][so-alignment="vertical"] {
	width: 100%;
}

input, textarea {
	font-family: "Source Sans Pro", "Segoe UI", "Droid Sans", Tahoma, Arial, sans-serif;
	font-size: 14px;
	border: 1px solid #d2d3d6;
	padding: 5px;
	outline: none;
}

input[disabled], textarea[disabled] {
	cursor: not-allowed;
	background-color: #edeef0;
	opacity: 1;
}

input[readonly], textarea[readonly] {
	cursor: not-allowed;
	background-color: #edeef0;
	opacity: 1;
}

textarea {
	width: 100%;
	min-height: 102px;
}

.list-field {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	margin: 0;
	padding: 0;
}

.list-field .select-value {
	width: 100%;
	cursor: pointer;
}

.list-field .other-value {
	width: 100%;
}

.list-field .select-options {
	border-radius: 0;
	height: 34px;
	flex: 1 auto;
	-webkit-flex: 1 auto;
	margin-left: 0;
	margin-top: 0;
}

.list-field-popup {
	position: fixed;
}

.list-field-popup .contents {
	margin: 2px 2px 2px 0;
	display: inline-block;
	padding: 4px;
	border: 1px solid #D2D3D6;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.98);
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	overflow-y: scroll;
	max-height: 200px;
	min-height: 60px;
}

.list-list {
	margin: 0;
	padding-left: 0;
}

.list-option {
	list-style: none;
	padding: 2px 20px 2px 6px;
}

.list-option:hover, .list-option[so-selected=true] {
	background-color: #3875d7;
	color: #ffffff;
}

.switch-popup {
	position: fixed;
}

.switch-popup .contents {
	max-width: 386px;
	margin: 0 10px 10px 10px;
	padding: 4px;
	border: 1px solid #D2D3D6;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.98);
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	overflow-y: scroll;
	max-height: 200px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.switch-popup .contents .icon {
	padding-top: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	margin: 5px;
	border-radius: 7px;
	border: 1px solid #42536D;
	background-color: #556B8D;
	color: white;
	cursor: pointer;
}

.switch-popup .contents .icon i {
	font-size: 20px;
}

.switch-popup .contents .icon:hover {
	border: 1px solid #556B8D;
	background-color: #677Fa4;
}

.switch-popup .contents .icon[so-disabled=true] {
	opacity: 0.5;
}

.file-upload {
	display: table;
	width: 100%;
}

.file-upload .filename-panel {
	display: inline-block;
	border: 1px solid #D2D3D6;
	height: 34px;
	width: 100%;
	float: left;
	padding-top: 7px;
	padding-left: 7px;
}

.file-upload .filename {
	overflow: hidden;
}

.file-upload .button-hidden {
	display: none;
}

.file-upload .button-panel {
	display: table-cell;
	vertical-align: middle;
	width: 1%;
}

.file-upload .button {
	border-radius: 0;
	padding-top: 7px;
	height: 34px;
	margin-left: 0;
	margin-right: 0;
}

progress {
	width: 100%;
	height: 24px;
	display: block;
	-webkit-appearance: none;
	border: 1px solid #d2d3d6;
	border-radius: 3px;
}

progress::-webkit-progress-bar {
	background: #e6e7e8;
	border-radius: 3px;
	padding: 2px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background: -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #677fa4, #677fa4);
	background-size: 32px 18px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

@-webkit-keyframes move {
		0% {
		background-position: 0 0, 0 0, 0 0;
	}
		100% {
		background-position: -100px 0, 0 0, 0 0;
	}
	}