.notification-panel {
  position: fixed;
  width: 300px;
  top: 100px;
  right: 10px;
  z-index: 9700;

}

.notification {
  border: 1px solid;
  border-radius: 1px;
  width: 300px;
  padding: 8px;
  margin-top: 10px;
  min-height: 16px;

  &[so-visible=false] {
    opacity: 0;
  }

  &[so-visible=true] {
    opacity: 1;
  }

  .icon {
    display: block;
    float: left;
    margin-right: 10px;
    line-height: 23px;
  }

  .title {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
  }

  .message {
    display: block;
    font-weight: 300;
    font-size: 14px;
    margin-top: 5px;
  }

  .close {
    display: block;
    margin-right: 5px;
    line-height: 25px;
    float: right;
    outline: 0;
    font-family: FontAwesome;
  }
}

.notification-info {
  background-color: #ddf4fa;
  border-color: #84d8ed;
  color: #157890;
}

.notification-success {
  background-color: #ebf6e1;
  border-color: #B8DF92;
  color: #527F26;
}

.notification-error {
  background-color: #fdf2f2;
  border-color: #F29797;
  color: #a81515;
}

.history-popup {
}

.history-popup .contents {
  width: 292px;
  margin: 0 10px 10px 10px;

  max-height: 360px;
  overflow-y: scroll;

  border: 1px solid #D2D3D6;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.98);

  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  li {
    border-top: 1px solid #e6e7e8;
    line-height: 16px;
    padding: 10px 10px;
    list-style: none;
    font-size: 14px;
  }

  .icon {
    float: left !important;
    padding: 2px 0;
    min-width: 20px;
    text-align: center;
    margin-top: -2px;
    border-radius: 1px;

    border: 1px solid #F29797;
    background-color: #fdf2f2;
    color: #a81515;
  }

  .title {
    overflow: hidden;
    padding: 0 7px;
    display: inline;
    width: 210px;
  }

  .time {
      float: right;
      color: #b3b3b3;
      font-size: 0.85em;
      white-space: nowrap;
      text-align: right;
      vertical-align: top;
    }

  .message {
    overflow: hidden;
    padding: 0;
    display: none;
    width: 210px;

    div {
      padding: 5px 10px 5px 10px;
    }

    &[so-visible=true] {
      display: inline;
    }
  }

  .no-notifications {
    overflow: hidden;
    padding: 0 0;
    display: inline;
    width: 210px;
  }
}