@charset "UTF-8";

.gwt-PopupPanel {
	z-index: 9900;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 9998;
}

.overlay-message {
	text-align: center;
	line-height: 40px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 300px;
	height: 60px;
	border-radius: 2px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	-webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
}

.horizontal-panel {
	width: 100%;
	display: table;
	margin: 0;
	padding: 0;
}

.horizontal-panel[so-full-height=true] {
	height: 100%;
}

.horizontal-panel[so-full-height=true] > div {
	height: 100%;
}

.horizontal-panel > div {
	display: table-cell;
	vertical-align: top;/** Align all objects to the top in the horizontal panel. **/
}

.legend-panel {
	padding: 0;
	margin: 0;
	border: 0;
}

.legend-panel .header {
	padding: 10px 0 5px 0;
	width: 100%;
	font-size: 18px;
	font-weight: 400;
	border-bottom: 1px solid #E6E7E8;
}

.legend-panel .collapse-button {
	position: relative;
	float: left;
	background-color: transparent;
	color: #4D4D4D;
	border: 0;
	font-size: 18px;
	margin: -4px -2px 0 -10px;
}

.legend-panel > *[so-collapsed="true"] {
	display: none;
}

.vertical-panel {
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.vertical-panel[so-full-height=true] {
	height: 100%;
}

.window-panel {
	border-radius: 1px;
	margin: 0px;
}

.window-panel[so-visible="true"] {
	display: block;
}

.window-panel[so-visible="false"] {
	display: none !important;
}

.window-panel[so-full-height=true] {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	height: 99%;
}

.window-panel .window-panel {
	margin-bottom: 0;
}

.window-panel .window-panel-header {
	height: 40px;
	padding: 0 0 0 10px;
	border-bottom: none;
	border-top-right-radius: 1px;
	border-top-left-radius: 1px;
	color: #FFFFFF;
}

.window-panel .window-panel-header:empty {
	height: 3px;
}

.window-panel .window-panel-header h4 {
	float: left;
	line-height: 40px;
	margin: 0;
	font-weight: 400;
	font-size: 18px;
}

.window-panel .window-panel-header .close {
	color: #FFFFFF;
	float: right;
	margin: 0 0 0 5px;
	height: 34px;
	font-size: 22px;
	background-color: transparent;
	border: 0;
}

.window-panel .window-panel-toolbar {
	height: 45px;
	border-top-width: 0;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	background: #f7f8fa;
	padding: 5px 5px 0 5px;
}

.window-panel .window-panel-toolbar[so-visible=false] {
	display: none;
}

.window-panel .window-panel-toolbar[so-visible=true] {
	display: block;
}

.window-panel .window-panel-toolbar .window-object-left {
	float: left;
	margin: 0 5px 0 0;
	height: 34px;
}

.window-panel .window-panel-toolbar .window-object-right {
	float: right;
	margin: 0 0 0 5px;
	height: 34px;
}

.window-panel .window-panel-body {
	background-color: #FFFFFF;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	height: 100%;
}

.window-panel .window-panel-body[so-padding=true] {
	padding: 20px;
}

.window-panel .window-panel-body[so-padding=false] {
	padding: 0;
}

.window-panel .window-panel-body[so-visible=false] {
	display: none;
}

.window-panel .window-panel-body[so-visible=true] {
	display: block;
}

.window-panel .window-panel-footer {
	height: 45px;
	border-top-width: 0;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	background: #F7F8FA;
	padding: 5px 5px 0 5px;
}

.window-panel .window-panel-footer[so-visible=false] {
	display: none;
}

.window-panel .window-panel-footer[so-visible=true] {
	display: block;
}

.window-panel .window-object-left {
	float: left;
	margin: 0 5px 0 0;
	height: 34px;
}

.window-panel .window-object-right {
	float: right;
	margin: 0 0 0 5px;
	height: 34px;
}

.window-panel[so-full-height=true] .window-panel-header:empty {
	-webkit-flex: 0 1;
	flex: 0 1;
	min-height: 3px;
}

.window-panel[so-full-height=true] .window-panel-header {
	-webkit-flex: 0 1 40px;
	flex: 0 1 40px;
	min-height: 40px;
}

.window-panel[so-full-height=true] .window-panel-toolbar[so-visible=true] {
	-webkit-flex: 0 1;
	flex: 0 1;
	min-height: 45px;
}

.window-panel[so-full-height=true] .window-panel-body {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	overflow-y: scroll;
}

.window-panel[so-full-height=true] .window-panel-footer {
	-webkit-flex: 0 1;
	flex: 0 1;
	min-height: 45px;
}

.window-panel-info {
	border-color: #4F8EBD;
}

.window-panel-info .window-panel-header {
	border-color: #4F8EBD;
	background-color: #4F8EBD;
}

.window-panel-alert {
	border-color: #E73C3C;
}

.window-panel-alert .window-panel-header {
	border-color: #E73C3C;
	background-color: #E73C3C;
}

.popover-window {
	position: fixed;
	z-index: 9800;
	-webkit-box-shadow: 0 0 20px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0 0 20px rgba(50, 50, 50, 0.75);
	box-shadow: 0 0 20px rgba(50, 50, 50, 0.75);
}

.switch-panel > *[so-visible=true] {
	display: block;
}

.switch-panel > *[so-visible=false] {
	display: none;
}

.dateBoxPopup {
	position: fixed;
}

.dateBoxPopup .gwt-DatePicker {
	margin: 2px 2px 2px 0;
	display: inline-block;
	padding: 4px;
	border: 1px solid #D2D3D6;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.98);
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dateBoxPopup .gwt-DatePicker .datePickerMonthSelector .datePickerPreviousButton, .dateBoxPopup .gwt-DatePicker .datePickerMonthSelector .datePickerNextButton, .dateBoxPopup .gwt-DatePicker .datePickerMonthSelector .datePickerPreviousYearButton, .dateBoxPopup .gwt-DatePicker .datePickerMonthSelector .datePickerNextYearButton {
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	font-weight: 600;
	color: #3f444c;
}

.dateBoxPopup .gwt-DatePicker .datePickerMonthSelector .datePickerPreviousButton:hover, .dateBoxPopup .gwt-DatePicker .datePickerMonthSelector .datePickerNextButton:hover, .dateBoxPopup .gwt-DatePicker .datePickerMonthSelector .datePickerPreviousYearButton:hover, .dateBoxPopup .gwt-DatePicker .datePickerMonthSelector .datePickerNextYearButton:hover {
	background-color: #edeef0;
	cursor: pointer;
}

.dateBoxPopup .gwt-DatePicker .datePickerMonthSelector .datePickerMonth, .dateBoxPopup .gwt-DatePicker .datePickerMonthSelector .datePickerYear {
	font-weight: 600;
	color: #3f444c;
}

.dateBoxPopup .gwt-DatePicker .datePickerDays .datePickerWeekdayLabel, .dateBoxPopup .gwt-DatePicker .datePickerDays .datePickerWeekendLabel, .dateBoxPopup .gwt-DatePicker .datePickerDays .datePickerDay {
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	font-weight: 400;
	color: #3f444c;
}

.dateBoxPopup .gwt-DatePicker .datePickerDays .datePickerDay:hover {
	background-color: #edeef0;
	cursor: pointer;
}

.dateBoxPopup .gwt-DatePicker .datePickerDays .datePickerDayIsFiller {
	color: #AEAFB1;
}

.dateBoxPopup .gwt-DatePicker .datePickerDays .datePickerDayIsToday {
	border-radius: 90px;
	background-color: #F2B257;
	color: white;
}

.dateBoxPopup .gwt-DatePicker .datePickerDays .datePickerDayIsValue {
	background-color: #2973cf;
	color: white;
}

.gwt-SuggestBoxPopup {
	border: 1px solid #D2D3D6;
	border-radius: 0;
	margin: 2px 2px 2px 0;
	background-color: rgba(255, 255, 255, 0.98);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.gwt-SuggestBoxPopup table {
	min-width: 150px;
}

.gwt-SuggestBoxPopup .item {
	padding: 3px 20px;
}

.gwt-SuggestBoxPopup .item:hover {
	background-color: #edeef0;
	cursor: pointer;
}

.gwt-TabLayoutPanel {
	height: 300px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	padding: 10px 15px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	padding: 10px 15px;
	margin-bottom: -1px;
	border: 1px solid;
	border-top: solid 2px #4f8edc;
	border-left-color: #dddddd;
	border-right-color: #dddddd;
	border-bottom: 2px solid white;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border: 1px solid #d2d3d6;
}