$datepicker-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$suggestbox-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
$popover-shadow: 0 0 20px rgba(50, 50, 50, 0.75);

.gwt-PopupPanel {
  z-index: 9900;
}

.overlay {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(255, 255, 255, 0.8);

  z-index: 9998;
}

.overlay-message {
  text-align: center;
  line-height: 40px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 300px;
  height: 60px;
  border-radius: 2px;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  -webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.50);
  -moz-box-shadow: 0 0 10px rgba(50, 50, 50, 0.50);
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.50);
}

.horizontal-panel {
  width: 100%;
  display: table;
  margin: 0;
  padding: 0;

  &[so-full-height=true] {
    height: 100%;
  }

  &[so-full-height=true] > div {
    height: 100%;
  }

  & > div {
    display: table-cell;
    vertical-align: top; /** Align all objects to the top in the horizontal panel. **/
  }
}

.legend-panel {
  padding: 0;
  margin: 0;
  border: 0;

  .header {
    padding: 10px 0 5px 0;
    //margin-bottom: 10px;
    width: 100%;
    font-size: 18px;

    font-weight: 400;
    border-bottom: 1px solid #E6E7E8;
  }

  .collapse-button {
    position: relative;
    float: left;
    background-color: transparent;
    color: #4D4D4D;
    border: 0;
    font-size: 18px;
    margin: -4px -2px 0 -10px;
  }

  & > *[so-collapsed="true"] {
    display: none;
  }
}

.vertical-panel {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;

  &[so-full-height=true] {
    height: 100%;
  }
}

.window-panel {
  border-radius: 1px;
  margin: 0px;

  &[so-visible="true"] {
    display: block;
  }

  &[so-visible="false"] {
    display: none !important;
  }

  &[so-full-height=true] {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    height: 99%;
  }

  .window-panel {
    margin-bottom: 0;
  }

  .window-panel-header {
    height: 40px;

    padding: 0 0 0 10px;

    border-bottom: none;

    border-top-right-radius: 1px;
    border-top-left-radius: 1px;

    color: #FFFFFF;

    &:empty {
      height: 3px;
    }

    & h4 {
      float: left;
      line-height: 40px;
      margin: 0;

      font-weight: 400;
      font-size: 18px;
    }

    .close {
      color: #FFFFFF;
      float: right;
      margin: 0 0 0 5px;
      height: 34px;
      font-size: 22px;
      background-color: transparent;
      border: 0;
    }
  }

  .window-panel-toolbar {
    height: 45px;
    border-top-width: 0;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;

    background: #f7f8fa;

    padding: 5px 5px 0 5px;

    &[so-visible=false] {
      display: none;
      //height: 0;
      //border-width: 0;
      //background: transparent;
    }

    &[so-visible=true] {
      display: block;
    }

    .window-object-left {
      float: left;
      margin: 0 5px 0 0;
      height: 34px;
    }

    .window-object-right {
      float: right;
      margin: 0 0 0 5px;
      height: 34px;
    }
  }

  .window-panel-body {
    background-color: #FFFFFF;

    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;

    //min-height: 20px;
    height: 100%;

    &[so-padding=true] {
      padding: 20px;
    }

    &[so-padding=false] {
      padding: 0;
    }

    &[so-visible=false] {
      display: none;
      //height: 0;
      //border-width: 0;
      //background: transparent;
    }

    &[so-visible=true] {
      display: block;
    }
  }

  .window-panel-footer {
    height: 45px;

    border-top-width: 0;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;

    background: #F7F8FA;

    padding: 5px 5px 0 5px;

    &[so-visible=false] {
      display: none;
      //height: 0;
      //min-height: 0  !important;
      //border-width: 0;
      //background: transparent;
      //padding: 0;
    }

    &[so-visible=true] {
      display: block;
    }
  }

  .window-object-left {
    float: left;
    margin: 0 5px 0 0;
    height: 34px;
  }

  .window-object-right {
    float: right;
    margin: 0 0 0 5px;
    height: 34px;
  }
}

.window-panel[so-full-height=true] .window-panel-header:empty {
  -webkit-flex: 0 1;
  flex: 0 1;
  min-height: 3px;
}

.window-panel[so-full-height=true] .window-panel-header {
  -webkit-flex: 0 1 40px;
  flex: 0 1 40px;
  min-height: 40px;
}

.window-panel[so-full-height=true] .window-panel-toolbar[so-visible=true] {
  -webkit-flex: 0 1;
  flex: 0 1;
  min-height: 45px;
}

.window-panel[so-full-height=true] .window-panel-body {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: scroll;
}

.window-panel[so-full-height=true] .window-panel-footer {
  -webkit-flex: 0 1;
  flex: 0 1;
  min-height: 45px;
}

.window-panel-info {
  border-color: #4F8EBD;
}

.window-panel-info .window-panel-header {
  border-color: #4F8EBD;
  background-color: #4F8EBD;
}

.window-panel-alert {
  border-color: #E73C3C;
}

.window-panel-alert .window-panel-header {
  border-color: #E73C3C;
  background-color: #E73C3C;
}

.popover-window {
  position: fixed;
  z-index: 9800;

  -webkit-box-shadow: $popover-shadow;
  -moz-box-shadow: $popover-shadow;
  box-shadow: $popover-shadow;
}

.switch-panel {
  & > *[so-visible=true] {
    display: block;
  }

  & > *[so-visible=false] {
    display: none;
  }

}

.dateBoxPopup {
  position: fixed;

  .gwt-DatePicker {
    margin: 2px 2px 2px 0;
    display: inline-block;
    padding: 4px;

    border: 1px solid #D2D3D6;
    border-radius: 0;

    background-color: rgba(255, 255, 255, 0.98);

    -webkit-box-shadow: $datepicker-shadow;
    -moz-box-shadow: $datepicker-shadow;
    box-shadow: $datepicker-shadow;

    .datePickerMonthSelector {

      .datePickerPreviousButton,
      .datePickerNextButton,
      .datePickerPreviousYearButton,
      .datePickerNextYearButton {
        width: 30px;
        height: 30px;
        text-align: center;
        padding-top: 5px;
        font-weight: 600;
        color: #3f444c;

        &:hover {
          background-color: #edeef0;
          cursor: pointer;
        }
      }

      .datePickerMonth, .datePickerYear {
        font-weight: 600;
        color: #3f444c;
      }

    }

    .datePickerDays {
      .datePickerWeekdayLabel,
      .datePickerWeekendLabel,
      .datePickerDay {
        width: 30px;
        height: 30px;
        text-align: center;
        padding-top: 5px;
        font-weight: 400;
        color: #3f444c;
      }

      .datePickerDay:hover {
        background-color: #edeef0;
        cursor: pointer;
      }

      .datePickerDayIsFiller {
        color: #AEAFB1;
      }

      .datePickerDayIsToday {
        border-radius: 90px;
        background-color: #F2B257;
        color: white;
      }

      .datePickerDayIsValue {
        background-color: #2973cf;
        color: white;
      }
    }
  }
}

.gwt-SuggestBoxPopup {
  border: 1px solid #D2D3D6;
  border-radius: 0;

  margin: 2px 2px 2px 0;
  background-color: rgba(255, 255, 255, 0.98);

  -webkit-box-shadow: $suggestbox-shadow;
  -moz-box-shadow: $suggestbox-shadow;
  box-shadow: $suggestbox-shadow;

  table {
    min-width: 150px;
  }

  .item {
    padding: 3px 20px;

    &:hover {
      background-color: #edeef0;
      cursor: pointer;
    }
  }

  .item-selected {
  }

  .suggestPopupTopLeft {
  }

  .suggestPopupTopLeftInner {
  }

  .suggestPopupTopCenter {
  }

  .suggestPopupTopCenterInner {
  }

  .suggestPopupTopRight {
  }

  .suggestPopupTopRightInner {
  }

  .suggestPopupTopMiddleLeft {
  }

  .suggestPopupTopMiddleLeftInner {
  }

  .suggestPopupMiddleCenter {
  }

  .suggestPopupMiddleRight {
  }

  .suggestPopupMiddleRightInner {
  }

  .suggestPopupBottomLeft {
  }

  .suggestPopupBottomLeftInner {
  }

  .suggestPopupBottomCenter {
  }

  .suggestPopupBottomCenterInner {
  }

  .suggestPopupBottomRight {
  }

  .suggestPopupBottomRightInner {
  }
}

.gwt-TabLayoutPanel {
  height: 300px;

  .gwt-TabLayoutPanelTabs {
  }

  .gwt-TabLayoutPanelTab {
    padding: 10px 15px;
  }

  .gwt-TabLayoutPanelTab-selected {
    padding: 10px 15px;
    margin-bottom: -1px;

    border: 1px solid;

    border-top: solid 2px #4f8edc;
    border-left-color: #dddddd;
    border-right-color: #dddddd;
    border-bottom: 2px solid white;
  }

  .gwt-TabLayoutPanelTabInner {
  }

  .gwt-TabLayoutPanelContent  {
    border: 1px solid #d2d3d6;
  }
}