@charset "UTF-8";

@import url(fonts/font.css);

@import url(button.css);

@import url(notification.css);

@import url(form.css);

@import url(input.css);

@import url(form/table.css);

@import url(panels.css);

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

*:before, *:after {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
}

body {
	margin: 0;
	font-family: "Source Sans Pro", "Segoe UI", "Droid Sans", Tahoma, Arial, sans-serif;
	background: #f7f8fa;
	font-weight: 400;
	color: #4D4D4D;
}

.center-panel {
	position: fixed;
	top: 90px;
	left: 38px;
	right: 0;
	bottom: 55px;
	margin: 0;
	padding-right: 15px;
	overflow: auto;
}

.center-panel[so-full-width=true] {
	left: 0;
}

.center-panel[so-full-width=false] {
	left: 38px;
}

.center-panel .center-panel-item[so-full-height=true] {
	position: absolute;
	top: 0;
	bottom: 15px;
	padding: 15px 20px 0 15px;
}

.header-panel {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	font-family: "Helvetica";
	background: #313338;
	border-bottom: 1px solid #000000;
}

.header-panel .title {
	float: left;
	margin-top: 16px;
	margin-left: 20px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
}

.header-panel .version {
	float: left;
	margin-top: 16px;
}

.header-panel .session {
	float: right;
	margin-top: 6px;
	margin-right: 20px;
}

.header-panel .logging {
	float: right;
	margin-top: 6px;
	margin-right: 10px;
}

.navigation-panel {
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	height: 40px;
	background: #313338;
	padding-top: 4px;
	border-right: 1px solid #000000;
}

.navigation-panel .navigation-button-right {
	float: right;
}

.navigation-panel .navigation-button-left {
	float: left;
}

.gwt-PopupPanelGlass {
	opacity: 0.5;
	background-color: #000000;
	transition: opacity 0.5s ease-in;
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	-ms-transition: opacity 0.5s ease-in;
	z-index: 9900;
}

.logging-details-window {
	width: 750px;
}

.logging-details-window .value-container {
	width: 90% !important;
}

.logging-details-window .label {
	float: left !important;
	width: 10% !important;
}

.login-window {
	width: 560px;
	height: 350px;
}

.buttonbar-panel {
	position: fixed;
	left: 38px;
	bottom: 0;
	right: 0;
	height: 20px;
	background: #EDEEF0;
	padding: 10px 15px 45px 15px;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
	border-top: 1px solid #D2D3D6;
}

.buttonbar-panel[so-full-width=true] {
	left: 0;
}

.buttonbar-panel[so-full-width=false] {
	left: 38px;
}

.buttonbar-panel .buttonbar-object-left {
	float: left;
	margin-right: 5px;
}

.buttonbar-panel .buttonbar-object-right {
	float: right;
	margin-left: 5px;
}

@keyframes expand-menu-true {
		from {
		width: 39px;
	}
		to {
		width: 199px;
	}
	}

@keyframes expand-menu-false {
		from {
		width: 199px;
	}
		to {
		width: 39px;
	}
	}

.menu-panel, .context-menu-panel {
	position: fixed;
	overflow: hidden;
	top: 90px;
	left: 0;
	bottom: 0;
	width: 38px;
	background: #E6E7E8;
	border-right: 1px solid #d2d3d6;
	font-family: "Source Sans Pro", "Segoe UI", "Droid Sans", Tahoma, Arial, sans-serif;
	font-size: 14px;
}

.menu-panel[so-visible=true], [so-visible=true].context-menu-panel {
	left: 0;
}

.menu-panel[so-visible=false], [so-visible=false].context-menu-panel {
	left: -199px;
}

.menu-panel[so-expanded=true], [so-expanded=true].context-menu-panel {
	animation-name: expand-menu-true;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.menu-panel[so-expanded=false], [so-expanded=false].context-menu-panel {
	animation-name: expand-menu-false;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.menu-panel .noindent, .context-menu-panel .noindent {
	padding: 0;
	margin: 0;
}

.menu-panel .anchor, .context-menu-panel .anchor {
	text-decoration: none;
	color: inherit;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
}

.menu-panel .anchor span[class="icon"], .context-menu-panel .anchor span[class="icon"] {
	padding-left: 15px;
}

.menu-panel .anchor span[class="noicon"], .context-menu-panel .anchor span[class="noicon"] {
	padding-left: 17px;
}

.menu-panel .parent, .context-menu-panel .parent {
	overflow: hidden;
	list-style: none;
	background: #E6E7E8;
	color: #3f444c;
	line-height: 0;
}

.menu-panel li[so-collapsed=true] .toggle::before, .context-menu-panel li[so-collapsed=true] .toggle::before {
	content: "\f138";
	font-family: FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	margin-right: 0;
	float: right;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.menu-panel li[so-collapsed=false] .toggle::after, .context-menu-panel li[so-collapsed=false] .toggle::after {
	content: "\f13a";
	font-family: FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	margin-right: 0;
	float: right;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.menu-panel .leaf, .context-menu-panel .leaf {
	overflow: hidden;
	list-style: none;
	color: #3f444c;
	line-height: 0;
	width: 200px;
}

.menu-panel li[so-selected=false] a:hover, .context-menu-panel li[so-selected=false] a:hover {
	background: #D2D3D6 !important;
	color: #7A7D84;
}

.menu-panel li[so-enabled=false] a, .context-menu-panel li[so-enabled=false] a {
	padding-left: 10px;
	background: #E6E7E8;
	color: #7A7D84;
	cursor: default;
}

.menu-panel li[so-enabled=false] a:hover, .context-menu-panel li[so-enabled=false] a:hover {
	padding-left: 10px;
	background: #E6E7E8;
	color: #7A7D84;
	cursor: default;
}

.menu-panel li[so-visible=false], .context-menu-panel li[so-visible=false] {
	display: none;
}

.menu-panel li[so-visible=true], .context-menu-panel li[so-visible=true] {
	line-height: 40px;
}

.menu-panel ul ul li:not([so-collapsed])[so-selected=false] a, .context-menu-panel ul ul li:not([so-collapsed])[so-selected=false] a {
	padding-left: 10px;
	background: #dedfe0;
}

.menu-panel ul ul li:not([so-collapsed])[so-selected=true] a, .context-menu-panel ul ul li:not([so-collapsed])[so-selected=true] a {
	padding-left: 10px;
	background: #595f69;
	color: #FFFFFF;
}

.menu-panel li[so-selected=false] a, .context-menu-panel li[so-selected=false] a {
	padding-left: 10px;
	background: #E6E7E8;
}

.menu-panel li[so-selected=true] a, .context-menu-panel li[so-selected=true] a {
	padding-left: 10px;
	background: #595f69;
	color: #FFFFFF;
}

.menu-panel li[so-visible=true] li[so-selected=true], .context-menu-panel li[so-visible=true] li[so-selected=true] {
	line-height: 0;
	color: transparent;
	background: transparent;
	padding-left: 10px;
	background: #595f69;
	color: #FFFFFF;
}

.context-menu-panel {
	height: 0;
	width: 200px;
}

.context-menu-panel .popupContent {
	-webkit-box-shadow: 0 0 20px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0 0 20px rgba(50, 50, 50, 0.75);
	box-shadow: 0 0 20px rgba(50, 50, 50, 0.75);
}