$glasspanel-transition: opacity 0.5s ease-in;

@import url("fonts/font.css");
@import url("button.css");
@import url("notification.css");
@import url("form.css");
@import url("input.css");
@import url("form/table.css");
@import url("panels.css");

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*:before, *:after{
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;

  background: #f7f8fa;
  font-weight: 400;
  color: #4D4D4D;
}

.application {
}

.center-panel {
  position: fixed;
  top: 90px;
  left: 38px; // was 200px
  right: 0;
  bottom: 55px;

  margin: 0;
  padding-right: 15px;
  overflow: auto;

  &[so-full-width=true] {
    left: 0;
  }

  &[so-full-width=false] {
    left: 38px;
  }

  .center-panel-item {
    &[so-full-height=true] {
      position: absolute;
      top: 0;
      bottom: 15px;
      padding: 15px 20px 0 15px;
    }
  }
}

/* The header panel itself sits on top of the screen. */
.header-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;

  font-family: "Helvetica";

  background: #313338;
  border-bottom: 1px solid #000000;

  .title {
    float: left;
    margin-top: 16px;
    margin-left: 20px;

    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
  }

  .version {
    float: left;
    margin-top: 16px;
  }

  .logo {
  }

  .session {
    float: right;
    margin-top: 6px;
    margin-right: 20px;
  }

  .logging {
    float: right;
    margin-top: 6px;
    margin-right: 10px;
  }
}

.navigation-panel {
  position: fixed;

  top: 50px;
  left: 0;
  right: 0;
  height: 40px;

  background: #313338;

  padding-top: 4px;
  border-right: 1px solid #000000;

  .navigation-button-right {
    float: right;
  }

  .navigation-button-left {
    float: left;
  }

}

.gwt-PopupPanelGlass {
  opacity: 0.5;
  background-color: #000000;

  transition: $glasspanel-transition;
  -webkit-transition: $glasspanel-transition;
  -moz-transition: $glasspanel-transition;
  -o-transition: $glasspanel-transition;
  -ms-transition: $glasspanel-transition;

  z-index: 9900;
}

.logging-window {
}

.logging-details-window {
  width: 750px;

  .value-container {
    width: 90% !important;
  }
  .label {
    float: left !important;
    width: 10% !important;
  }
}

.login-window {
  width: 560px;
  height: 350px;
}

.buttonbar-panel {
  position: fixed;

  left: 38px;
  bottom: 0;
  right: 0;

  height: 20px;

  background: #EDEEF0;

  padding: 10px 15px 45px 15px;

  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;

  border-top: 1px solid #D2D3D6;

  &[so-full-width=true] {
    left: 0;
  }

  &[so-full-width=false] {
    left: 38px;
  }

  .buttonbar-object-left {
    float: left;
    margin-right: 5px;
  }

  .buttonbar-object-right {
    float: right;
    margin-left: 5px;
  }
}

@keyframes expand-menu-true {
  from {
    width: 39px;
  }

  to {
    width: 199px;
  }
}

@keyframes expand-menu-false {
  from {
    width: 199px;
  }

  to {
    width: 39px;
  }
}

.menu-panel {
  position: fixed;
  overflow: hidden;
  top: 90px;
  left: 0;
  bottom: 0;
  width: 38px; // was 199px

  background: #E6E7E8;
  border-right: 1px solid #d2d3d6;
  font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
  font-size: 14px;

  &[so-visible=true] {
    left: 0;
  }

  &[so-visible=false] {
    left: -199px;
  }

  &[so-expanded=true] {
    animation-name: expand-menu-true;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  &[so-expanded=false] {
    animation-name: expand-menu-false;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .noindent {
    padding: 0;
    margin: 0;
  }

  .anchor {
    text-decoration: none;
    color: inherit;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: block;

    span[class="icon"] {
      padding-left: 15px;
    }

    span[class="noicon"] {
      padding-left: 17px;
    }
  }

  .parent {
    overflow: hidden;
    list-style: none;
    background: #E6E7E8;
    color: #3f444c;

    /* initially a leaf is not displayed, the visibility
       is determined by code depending on being a root-leaf
       or a leaf as a child (collapsed / expanded state) */
    line-height: 0;
  }

  li[so-collapsed=true] .toggle::before {
    content: "\f138";
    /* display: inline-block; */
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    margin-right: 0;
    float: right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  li[so-collapsed=false] .toggle::after {
    content: "\f13a";
    /* display: inline-block; */
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    margin-right: 0;
    float: right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .leaf {
    overflow: hidden;
    list-style: none;

    color: #3f444c;

    line-height: 0;
    width: 200px;
  }

  li[so-selected=false] a:hover {
    background: #D2D3D6 !important;
    color: #7A7D84;
  }

  li[so-enabled=false] a {
    padding-left: 10px;
    background: #E6E7E8;
    color: #7A7D84;
    cursor: default;
  }

  li[so-enabled=false] a:hover {
    padding-left: 10px;
    background: #E6E7E8;
    color: #7A7D84;
    cursor: default;
  }

  li[so-visible=false] {
    display: none;
    //line-height: 0;
    //color: rgba(0, 0, 0, 0);
    //background: rgba(0, 0, 0, 0);
  }

  li[so-visible=true] {
    line-height: 40px;
  }

  /* child menu items */
  ul ul li:not([so-collapsed])[so-selected=false] a {
    padding-left: 10px;
    background: #dedfe0;
  }

  ul ul li:not([so-collapsed])[so-selected=true] a {
    padding-left: 10px;
    background: #595f69;
    color: #FFFFFF;
  }

  /* root menu items */
  li[so-selected=false] a {
    padding-left: 10px;
    background: #E6E7E8;
  }

  li[so-selected=true] a {
    padding-left: 10px;
    background: #595f69;
    color: #FFFFFF;
  }

  li[so-visible=true] li[so-selected=true] {
    line-height: 0;
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    padding-left: 10px;
    background: #595f69;
    color: #FFFFFF;
  }
}

.context-menu-panel {
  @extend .menu-panel;

  height: 0;
  width: 200px;

  .popupContent {
    -webkit-box-shadow: 0 0 20px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 20px rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.75);
  }
}